<!doctype html>
<html lang="en">
 
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/css/style.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Seller Cancel Order</title>
   
</head>

<body>
    
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top ">
                <a class="navbar-brand" href="/seller/deshboard">Style eye</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <a class="nav-link nav-icons" href="/seller/rating/view/products" ><span class="fa fa-star checked"></span></a>
                                
                          
                        </li>
                        <li class="nav-item dropdown notification">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">feedback</i></a>
                           
                        </li>
                       
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class='fas fa-user-alt'></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name"><%= seller.firstName+" "+seller.lastName %></h5>
                                    <!-- <span class="status"></span><span class="ml-2">Available</span> -->
                                </div>
                                <a class="dropdown-item" href="/seller/account/<%= seller._id %>"><i class="fas fa-user mr-2"></i>Account</a>
                                <a class="dropdown-item" href="/seller/logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        
    
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                  
                    <div class="ecommerce-widget">

                        
                        <div class="row">
                            <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Oder Cancel Details</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <!-- <th class="border-0">#</th> -->
                                                        <th class="border-0">Product Name</th>
                                                        <th class="border-0">Reason</th>
                                                        <th class="border-0">Feedback</th>
                                                        <th class="border-0">Cancel Id</th>
                                                        <th class="border-0">Cancel Quantity</th>
                                                        <th class="border-0">Cancel Price</th>
                                                        <th class="border-0">Cancel Date</th>
                                                        <th class="border-0">Payment Status</th>
                                                        <th class="border-0"></th>
                                                        <th class="border-0"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
<% orders.forEach(pro => { %>
 
                                                            <tr>    
                                                  
                                                                <% const text = pro.productTitle; %>
                                                                <% const maxLength = 15; %>
                                                                
                                                                
                                                                <td><%= text.length <= maxLength ? text : `${text.slice(0, maxLength)}...` %>
                                                                </td>
                                                                <td>
                                                                   <%= pro.reason %>
                                                                </td>
                                                                <td>
                                                                    <%= pro.feedback %>
                                                                </td>
                                                            <% const id = String(pro._id); %>
                                                            <% const idLength = 8; %>     


                                                            <td><%= id.length <= idLength ? id : `${id.slice(0, idLength)}...` %></td>
                                                           
                                                            <td><%= pro.productQuanity %></td>
                                                            <td><%var lala =  pro.productPrice*pro.productQuanity %> <%= lala.toLocaleString('en-US', { style: 'currency', currency: 'inr' }) %></td>
                                                          
                                                            <td><%= pro.date %></td>
                                                            <td><%= pro.delivery %></td>
                                                            <form action="/seller/oder/return/change/<%= pro._id %>" method="post">
                                                            <td><span class="badge-dot badge-danger  mr-2"></span><select name="dil" id="">Return Status
                                                                <option value="pick up">Pick Up</option>
                                                                <option value="on process">On Process</option>
                                                                <option value="on delivery">On Return</option>
                                                                <option value="Returnd">Returnd</option>
                                                            </select> Return Status </td>
                                                            <td><span class="badge-dot badge-success  mr-2"></span><input type="submit" value="Change"></td>
                                                        </form>
                                                        </tr>
<% }) %>                                                    

                                                   
                                                    
                                                    
                                                    <tr>
                                            
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                   
                        </div>
                        </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                             Copyright © 2023 StyleEye. All rights reserved.
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="/assets/libs/js/dashboard-ecommerce.js"></script>
</body>
 
</html>